*{
    font-family: Arial, sans-serif;
    font-weight: 700;
    text-align: center;
}
body {
    background-color: rgb(179, 179, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./backing.jpg');
}
.container {
    align-items: center;
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    width: 300px;
    padding: 45px;
    color: black;
    border: 5px solid rgb(208, 110, 208);

}
.container input{
    margin:auto;
    text-align: left;
    border: 2px solid rgb(22, 21, 22);
    border-radius: 10px;

}
.container button{
    border-radius: 10px;
    border: 2px solid rgb(208, 110, 208);
    padding: 5px;
    font-weight: 700;

}